.heroWrapper {
	position: relative;
	z-index: 1;
	padding-top: 33px;
	margin: 0 auto;
}

.imageWrapLaptop {
	display: none;
}

@media screen and (min-width: 768px) {
	.heroWrapper {
		max-width: 1600px;
		display: flex;
		align-items: center;
		padding-top: 120px;	
	}

	.imageWrapLaptop {
		display: flex;
	}
}