.contText {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.list {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  gap: 42px;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.element {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: 280px;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 71.43px 0px #5602ff69 inset;
  background: linear-gradient(
      242.97deg,
      rgba(255, 255, 255, 0.2) -12.91%,
      rgba(9, 9, 9, 0) 79.22%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.number {
  font-size: 140px;
  font-family: var(--third-family);
  font-weight: 700;
  color: rgba(40, 1, 117, 0.5);
  color: transparent; /* всередині прозоро */
  -webkit-text-stroke: 4px rgba(27, 12, 56, 0.8);
  margin-left: auto;
}
.title {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-family);
  background: linear-gradient(
    221.86deg,
    rgba(191, 255, 0, 1),
    rgba(251, 233, 92, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 1280px) {
  .item {
    height: 650px;
    width: 800px;
    margin: 0 auto;
    background: url("/img/stages/backgrd.png") center/cover no-repeat;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin: 0 auto;
  }

  .item:nth-child(odd) {
    transform: translate(200px, -100px);
  }

  .item:nth-child(even) {
    transform: translate(-200px, 100px);
  }
  /* .item:nth-child(1),
  .item:nth-child(2) {
    margin-top: -50px;
  } */
  .item:nth-child(n + 3) {
    margin-top: -150px;
  }
}
