.list {
  display: flex;

  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
}
.item {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr; */
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 700px;
  /* background: url("/img/stages/backgrd.png") center/cover no-repeat; */
}
.element {
  width: 287px;
  height: 280px;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(25px);
  box-shadow: 0px 0px 71.43px 0px #5602ff69 inset;
  background: linear-gradient(
      242.97deg,
      rgba(255, 255, 255, 0.2) -12.91%,
      rgba(9, 9, 9, 0) 79.22%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
@media screen and (min-width: 768px) {
  .item {
    background: url("/img/stages/backgrd.png") center/cover no-repeat;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  .item:nth-child(odd) {
    transform: translateY(300px);
  }
}
