.sectionPortfolio {
  width: 100%;
  height: 100vh;
  height: 1230px;
  background-image: url("/img/portfolio/back-portfolio-mob.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contPortfolio {
  margin: 0 auto;
  text-align: center;
  /* background-image: url("/img/portfolio/back-portfolio-mob.png"); */
  /* background-size: cover; contain */
  /* background-size: 100% 1234px;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 120px; */
}

.titlePortfolio {
  padding-bottom: 54px;
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: -0.01em;
  max-width: 827px;
  margin: 0 auto;
}

.frameList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 58px;
}

.frame {
  position: relative;
  background-color: var(--black-2);
  width: 276px;
  height: 276px;
  border: 0.7px solid rgba(251, 255, 254, 0.1);
  border-radius: 11px;
  padding: 18px;
}

.first {
  transform: rotate(-10deg) translateY(-40px);
}

.second {
  transform: rotate(5deg) translateY(40px);
  z-index: 3;
}

.third {
  transform: rotate(-8deg) translateY(-20px);
}

.button {
  position: relative;
  border-radius: 20px;
  padding: 16px 56px;
  background: transparent;
  color: white;
  border: none;
  box-shadow: inset 75px 52px 8.7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  /* background: linear-gradient(135deg, #fff 0%, #fbe95c 50%, #fff 100%); */
  background: linear-gradient(135deg, #fbe95c 0%, #fff 50%, #fbe95c 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.iconLogo {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 18px;
  left: 18px;
}

@media screen and (min-width: 1280px) {
  .sectionPortfolio {
    background-image: url("/img/portfolio/back.png");
    background-size: 100% auto;
    /* background-size: auto; */
   background-position: calc(50% - 20px) calc(50% - (-290px));
      background-position: center 38%;
    background-repeat: no-repeat;
    margin-top: -120px;
    position: relative;
    z-index: 2;
  }

  .contPortfolio {
    /* background-image: url("/img/portfolio/bg.svg");
    background-size: contain; */
    /* background-size: 100% 1234px;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 120px; */
  }

  .titlePortfolio {
    padding-bottom: 57px;
    font-size: 55px;
    font-weight: 900;
    line-height: 66px;
    white-space: pre-wrap;
    margin-bottom: 80px;
  }

  .frameList {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding-bottom: 80px;
  }

  .frame {
    min-width: 392px;
    height: 392px;
    padding: 24px;
  }

  .first {
    transform: rotate(-5deg) translateY(-40px);
  }

  .second {
    transform: rotate(2deg) translateY(40px);
    z-index: 3;
  }

  .third {
    transform: rotate(-3deg) translateY(-20px);
  }

  .button {
    padding: 16px 40px;
  }

  .iconLogo {
    width: 20px;
    height: 20px;
    top: 18px;
    left: 18px;
  }
}