.blockImage {
	width: 100%;
	aspect-ratio: 312 / 312;
}

.wraperImage {
	position: relative;
}

.image {
	width: 100%;
	aspect-ratio: 312 / 312;
	object-fit: cover;
	z-index: -1;
	transform: translate(-2%, 5%) scale(1.1);
	transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (min-width: 768px) {
	.blockImage {
		position: absolute;
		top: 0;
		right: 0;
		width: calc((751 / 1280) * 100vw);
		max-width: 751px;
		aspect-ratio: 751 / 689;
		padding: 50px;
	}

	.wraperImage {
		position: relative;
	}

	.image {
		position: absolute;
		width: 100%;
		aspect-ratio: 751 / 689;
		z-index: -1;
		transform: translateY(20%);
		transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}