.textCont {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  max-width: 1122px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}
.logo {
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  background: linear-gradient(
    221.86deg,
    rgba(191, 255, 0, 1),
    rgba(251, 233, 92, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contImgs {
  margin: 0 auto;
  width: 100%;
}
.textFirst,
.textSec {
  font-size: 24px;
  letter-spacing: -0.01em;
  font-weight: 900;
  text-align: center;
  /* font-size: clamp(24px, calc((48 / 680) * 100vw), 56px); */
}
.textSec {
  padding-bottom: 15px;
}
.imgHands {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1280px) {
  .logo {
    font-size: 20px;
  }
  .textFirst,
  .textSec {
    font-size: 56px;
  }
}
