.about {
  margin-top: -300px;
  position: relative;
  z-index: 10;
  padding-top: 100px;
  padding-bottom: 200px;
  background: linear-gradient(to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.5) 20%,
      #000000 40%,
      #000000 100%);
}

.textCont {
  display: flex;
  flex-direction: column;
  max-width: 1122px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.contImgs {
  margin: 0 auto;
  width: 100%;
}

.textFirst,
.textSec {
  font-size: 24px;
  letter-spacing: -0.01em;
  font-weight: 900;
  text-align: center;
}

.textSec {
  padding-bottom: 15px;
}

.imgHands {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: -400px;
    padding-top: 150px;
    padding-bottom: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    margin-top: -500px;
    padding-top: 200px;
    padding-bottom: 300px;
  }
  .textFirst,
  .textSec {
    font-size: 56px;
  }
}