.wrappContact {
  position: relative;
  min-width: 100%;
}

.imgBack {
  object-fit: contain;
  max-width: 800px;
  z-index: -1;
  margin: 0 auto;
}

@media  screen and (min-width: 1280px) {
  .wrappContact{
    scroll-margin-top: -120px;
  }
}