.navList {
	display: none;
}
@media screen and (min-width: 768px) {
	.navList {
		height: 37px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
	}
	.navItem {
		width: 100%;
		height: 37px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		padding: 8px 16px;
		border: 1px solid rgba(251, 255, 254, 0);
	}
	.navLink {
		color: var(--white);

		font-family: var(--font-family);
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: 0%;
		text-align: left;
		white-space: nowrap;
	}
	.navItem:hover {
		box-sizing: border-box;
		border: 1px solid rgba(251, 255, 254, 0.1);
		border-radius: 40px;
		box-shadow: inset 0px -2px 3.700000047683716px 0px rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(50px);
		background: rgba(255, 255, 255, 0.1);
	}
}
