@media screen and (min-width: 320px) and (max-width: 374px) {
	.imageWrapperMob {
		display: flex;
		width: 100%;
	}
	.heroContent {
		width: 100%;
		max-width: 767px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 38px;
		padding: 32px;
		/* border: 1px solid red; */
	}
	.heroSubHero {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		/* border: 1px solid green; */
	}

	.title {
		color: var(--white);
		font-family: var(--second-family);
		font-size: clamp(24px, calc((24 / 320) * 100vw), calc((80 / 768) * 100vw));
		font-weight: 900;
		line-height: 1.1;
		letter-spacing: -1%;
		text-transform: uppercase;
		display: inline;
		word-break: keep-all;
	}

	.image {
		display: inline-block;
		vertical-align: middle;
		width: calc((34 / 320) * 100vw);
		aspect-ratio: 34 / 31;
		object-fit: contain;
	}

	.description {
		position: relative;
		width: 100%;
		height: calc((72 / 320) * 100vw);
		max-height: 90px;

		color: var(--white);
		font-family: var(--font-family);
		font-size: clamp(16px, calc((16 / 320) * 100vw), 20px);
		font-weight: 600;
		letter-spacing: 0%;
		text-align: left;
		padding: 10px 20px;
	}

	.description span {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		line-height: calc((16 / 320) * 100vw);
	}
	.primaryBtn {
		background-image: url("/img/hero/Button Primary.svg");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		width: calc((270 / 375) * 100vw);
		aspect-ratio: 270 / 97;
		max-width: 363px;
		max-height: 131px;
		border: none;
		transform: scale(1);
		transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
		margin: 0 auto 0 20px;
	}
	.primaryBtn:hover {
		background-image: url("/img/hero/Button Primary.svg");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		transform: scale(1.02);
		transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.primaryBtn span {
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);

		color: var(--dark);

		font-family: var(--font-family);
		font-size: clamp(13px, calc((18 / 320) * 100vw), 18px);
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		white-space: nowrap;
	}
	.primaryWrapIcon {
		width: calc((24 / 320) * 100vw);
		height: calc((24 / 320) * 100vw);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: -5%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.iconPrimary {
		width: calc((13 / 320) * 100vw);
		height: calc((13 / 320) * 100vw);
		stroke: var(--dark);
	}
}
@media screen and (min-width: 375px) and (max-width: 767px) {
	.imageWrapperMob {
		display: flex;
		width: 100%;
	}
	.heroContent {
		width: 100%;
		max-width: 767px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 38px;
		padding: 32px;
		/* border: 1px solid red; */
	}
	.heroSubHero {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		/* border: 1px solid green; */
	}

	.title {
		color: var(--white);
		font-family: var(--second-family);
		font-size: clamp(24px, calc((32 / 375) * 100vw), calc((80 / 768) * 100vw));
		font-weight: 900;
		line-height: 1.1;
		letter-spacing: -1%;
		text-transform: uppercase;
		display: inline;
		word-break: keep-all;
	}

	.image {
		display: inline-block;
		vertical-align: middle;
		width: calc((34 / 375) * 100vw);
		aspect-ratio: 34 / 31;
		object-fit: contain;
	}

	.description {
		position: relative;
		width: 100%;
		height: calc((72 / 375) * 100vw);
		max-height: 90px;

		color: var(--white);
		font-family: var(--font-family);
		font-size: clamp(16px, calc((16 / 375) * 100vw), 20px);
		font-weight: 600;
		letter-spacing: 0%;
		text-align: left;
		padding: 10px 20px;
	}

	.description span {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		line-height: calc((16 / 375) * 100vw);
	}
	.primaryBtn {
		background-image: url("/img/hero/Button Primary.svg");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		width: calc((270 / 375) * 100vw);
		aspect-ratio: 270 / 97;
		max-width: 363px;
		max-height: 131px;
		border: none;
		transform: scale(1);
		transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
		margin: 0 auto 0 20px;
	}
	.primaryBtn:hover {
		background-image: url("/img/hero/Button Primary.svg");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		transform: scale(1.02);
		transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.primaryBtn span {
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);

		color: var(--dark);

		font-family: var(--font-family);
		font-size: clamp(13px, calc((18 / 375) * 100vw), 18px);
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		white-space: nowrap;
	}
	.primaryWrapIcon {
		width: calc((24 / 375) * 100vw);
		height: calc((24 / 375) * 100vw);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: -2%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.iconPrimary {
		width: calc((13 / 375) * 100vw);
		height: calc((13 / 375) * 100vw);
		stroke: var(--dark);
	}
}
@media screen and (min-width: 768px) {
	.imageWrapperMob {
		display: none;
	}
	.heroContent {
		width: calc((800 / 1280) * 100vw);
		/* height: calc((636 / 1280) * 100vw); */
		max-width: 800px;
		/* max-height: 636px; */
		aspect-ratio: 900 / 636;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: clamp(40px, calc((120 / 1280) * 100vw), 120px);
		margin: 64px 0 0;
		/* border: 1px solid red; */
	}
	.heroSubHero {
		width: 100%;
		aspect-ratio: 900 / 385;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 31px;
		/* border: 1px solid green; */
	}

	.title {
		color: var(--white);
		font-family: var(--second-family);
		font-size: clamp(24px, calc((80 / 1440) * 100vw), 80px);
		font-weight: 900;
		line-height: 1.1;
		text-transform: uppercase;
		display: inline;
		word-break: keep-all;
	}

	.image {
		display: inline-block;
		vertical-align: middle;
		width: calc((95 / 1440) * 100vw);
		aspect-ratio: 95 / 86;
		object-fit: contain;
		margin: 0 8px;
	}
	.description {
		position: relative;
		width: calc((402 / 1280) * 100vw);
		height: calc((90 / 1280) * 100vw);
		max-width: 402px;
		max-height: 90px;

		color: var(--white);
		font-family: var(--font-family);
		font-size: clamp(16px, calc((20 / 1280) * 100vw), 20px);
		font-weight: 600;
		letter-spacing: 0%;
		text-align: left;
	}

	.description span {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		line-height: calc((24 / 1280) * 100vw);
	}
	.primaryBtn {
		background-image: url("/img/hero/Button Primary.svg");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		width: calc((363 / 1280) * 100vw);
		aspect-ratio: 363 / 131;
		max-width: 363px;
		max-height: 131px;
		border: none;
		transform: scale(1);
		transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.primaryBtn:hover {
		background-image: url("/img/hero/Button Primary.svg");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		transform: scale(1.02);
		transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.primaryBtn span {
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);

		color: var(--dark);

		font-family: var(--font-family);
		font-size: clamp(13px, calc((18 / 1280) * 100vw), 18px);
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		white-space: nowrap;
	}
	.primaryWrapIcon {
		width: calc((24 / 1280) * 100vw);
		height: calc((24 / 1280) * 100vw);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.iconPrimary {
		width: calc((13 / 1280) * 100vw);
		height: calc((13 / 1280) * 100vw);
		stroke: var(--dark);
	}
}
